.header{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: $yellow-color;
    &__wrapper{
        margin: 0 auto;
        padding: 10px 0;
        max-width: 1106px;
        transition: 2s;
        left: -100%;
    }
    &__wrapper_active{
        left: 0;
    }
    &__group{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list{
        display: flex;
        &-item{
            margin-right: 16px;
            &:last-child{
                margin-right: 0;
            }
            a{
                font-size: 16px;
                color: black;
            }
        }
    }
}