.rent{
    padding: 100px;
    &__instruction{
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-top: 96px;
        &-text{
            width: 455px;
        }
        &-line{
            position: absolute;
            left: 42%;
            bottom: -145px;
        }
    }
    &__stages{
        margin-top: 96px;
        &:first-child{
            margin-top: 0;
        }
    }
    &__text{
        margin-top: 32px;
    }
    
}