.tariff{
    padding-top: 46px;
    &__text{
        padding: 50px 64px;
        background: $black-color;
        border-radius: 56px;
        text-align: center;
    }
    &__blocks{
        margin-top: 30px;
        display: grid;
        grid-template-columns: 470px 400px;
        justify-content: space-between;
    }
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 72px 56px;
        height: 100%;
        border: 5px solid $black-color;
        box-sizing: border-box;
        border-radius: 56px;
        &-icons{
            margin-bottom: 32px;
        }
        &-text{
            font-weight: bold;
            margin-bottom: 32px;
            &_white{
                color: #fff;
                
            }
        }
    }
    &__item2{
        margin-top: 90px;
    }
    &__item3{
        margin-top: 30px;
        border: 5px dashed $black-color;
    }
    &__item4{
        margin-top: 120px;
        position: relative;
        background: url(https://avatars.mds.yandex.net/get-lpc/1368426/10c1c55d-f843-434c-9caf-57c59dfa7cd5/orig) center center/cover no-repeat;
        &-icons{
            position: absolute;
            top: 72px;
            right: 56px;
            width: 80px;
            img{
                width: 100px;
            }
        }
    }
    &__item5{
        margin-top: 60px;
        width: calc(680px - 0px);
        height: 400px;
        background: $black-color;
        &-text{
            width: 450px;
        }
    }
    &__item6{
        margin-top: 120px;
        padding: 0;
        z-index: 100;
        height: 400px;
        img{
            width: 100%;
            height: 100%;
            border-radius: 56px;
        }
    }
}